<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tape Sparky - SEVENTEEN INFORMATIQUE</title>
    <link rel="icon" type="image/ico" href="../public/medias/logo/favicon.ico">
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body id="homepage">

    <nav>
        <div>
            <a href="https://seventeeninfo.fr" target="_blank">
                <img src="../public/medias/logo/logo.svg" alt="SEVENTEEN INFORMATIQUE">
            </a>
        </div>
        <div>
            <h2>Tape Sparky</h2>
        </div>
    </nav>

    <header>
        <div class="mb-2">
            <h2>Bienvenue !</h2>
        </div>
        <div class="mb-2">
            <h3>Règles du Jeux</h3>
            <p>Vous avez 30 secondes pour taper toutes les personnages qui vont s'afficher à l'écran.</p>
            <p>Attention ! Plus vous avancer dans le jeux, plus les personnages s'affiche rapidement à l'écran.</p>
        </div>
        <div>
            <a href="play.html" class="btn btn-primary">Jouer !</a>
        </div>
    </header>

</body>
</html>